<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--GMAIL-->
		<add key="Host" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="MailID" value="yubbi33@gmail.com"/>
		<add key="SenderName" value="Hamonsoft"/>
		<add key="MailPW" value="gdmdwqrbgtdbaqnd"/>
		
		<!--NAVER-->
		<!--<add key="Host" value="smtp.naver.com"/>
		<add key="Port" value="587"/>
		<add key="MailID" value="yubbi33"/>
		<add key="SenderName" value="Hamonsoft"/>
		<add key="MailPW" value="HW4K9JXGQJQB"/>-->

		<!--DAUM-->
		<!--<add key="Host" value="smtp.daum.net"/>
		<add key="Port" value="465"/>
		<add key="MailID" value="yubbi@daum.net"/>
		<add key="SenderName" value="Hamonsoft"/>
		<add key="MailPW" value="fvpyacclbaipwtid"/>-->
		
	</appSettings>
</configuration>